# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Node
node_modules/

# Metro
.metro-health-check*

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store
*.pem

# Local Netrc file
.netrc

# EAS
.eas/
